<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bots List</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="header">
    <div class="container">

        <h1>Logs</h1>
        <p>Current Server Logs</p>

    </div>
</div>
<div class="page">
    <div class="container">
        <div class="eight_columns" style="width:890px; height:465px;">
            <h3><span>List</span></h3>
            <div class="cdn">
                <div style="margin:20px;">
                    <div class="applicationWindow">
                        <div class="applicationContainer">
                            <pre>{{logs}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>

</script>

</body>
</html>
